/*Custom Css for WWB Annual Report 2019*/
a {
  text-decoration: none;
}

.wwb-img {
  max-width: 320px;
  margin: auto;
}

.illustration-img {
  width: 100%;
  margin: auto;
}

.illustration-img.littlesmaller {
  width: 75%;
}

.percentage-img {
  max-width: 450px;
  margin: auto;
}

.percentage-img.small {
  max-width: 300px;
}

.info-large p {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 180px !important;
  color: #b8631f !important;
  line-height: 216px !important;
  font-weight: 800 !important;
}

.info-large.smaller p {
  color: #cba239 !important;
  font-size: 130px !important;
  line-height: 156px !important;
}

.header-text p {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 95px;
  color: #fff;
  line-height: 100px;
  font-weight: 800 !important;
}

.infographic-text p {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}

.infographic-text.bluetext p {
  color: #00338d !important;
}

.infographic-text.white p {
  color: #fff;
}

.infographic-text.white.bold p {
  font-weight: 800 !important;
}

.infographic-text.brown p {
  color: #b8631f;
}

.sub-header-text p {
  font-size: 25px;
  font-family: LeMondeLivrePro, Times, serif;
  line-height: 35px;
  color: #fff;
}

.title-text p {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 40px;
  line-height: 42px;
  color: #00338d;
  font-weight: 800 !important;
}

.paragraph-text p {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 30px;
  color: #000 !important;
}

.paragraph-text.white p {
  color: #fff !important;
}

.paragraph-text02 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  line-height: 30px;
  color: #fff !important;
  text-align: center;
}

.paragraph-text.two-column p {
  columns: 2;
}

.paragraph-text.bluebold p {
  font-weight: 800 !important;
  color: #00338d !important;
}

.paragraph-text.brown p {
  color: #b8631f !important;
}

.paragraph-text.white p {
  color: #fff;
}

.paragraph-text.blue p {
  color: #00338d !important;
}

.title-text.white p {
  color: #fff !important;
}

.title-text.brown p {
  color: #b8631f;
}

.paragraph-text.white p {
  color: #fff !important;
}

.intro-letter-text p {
  color: #00338d;
  font-size: 25px;
  font-family: LeMondeLivrePro, Times, serif;
  line-height: 35px;
}

.pull-quote-text p {
  color: #cba239;
  font-size: 35px;
  line-height: 45px;
  font-family: LeMondeLivrePro, Times, serif;
  text-align: center;
}

.pull-quote-text.brown p {
  color: #b8631f;
}

.lemonde30 {
  font-family: "LeMondeLivrePro";
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.lemonde30.bottomspace {
  margin-bottom: 50px;
}

#tabs-1 {
  max-width: 900px;
  margin: auto;
}

#tabs-2 {
  max-width: 900px;
  margin: auto;
}

.intro-letter {
  margin: auto;
  max-width: 920px;
}

.bluearrow-down {
    position: relative !important;
    margin: auto !important;
    transform: rotate(180deg);
}

.financial-tabs {
  width: 100%;
  color: #fff;
  line-height: 30px;
  font-size: 20px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  border: 0px !important;
}

.financial-tabs>tbody>tr>td {
  border: 0px !important;
}

/*MENU STYLING*/
.ar-menu-div {
  width: 100%;
  background-color: #fff !important;
  border-top: 2px solid #cba239 !important;
  transition: color 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86), border-color 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
}

.ar-menu-btn {
  color: #cba239 !important;
  display: block;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 40px !important;
  line-height: 65px !important;
  font-weight: 800 !important;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0px 36px 0px 36px;
  transition: color 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86), border-color 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
}

.ar-menu-div:hover {
  background-color: #cba239 !important;
}

.ar-menu-btn:hover {
  color: #fff !important;
}

.ar-arrow::after {
  display: inline-block;
  content: '▼';
  color: inherit;
  padding-right: 15px;
  padding-left: 15px;
}

.ar-arrow.goingup::after {
  content: '▲';
  color: inherit;
}

#accordion {
  border-bottom: 2px solid #fff;
}

.menu-text {
  font-size: 20px !important;
  font-family: LeMondeLivrePro, Times, serif !important;
  line-height: 65px;
  color: #cba239;
  transition: all 0.25s;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.menu-text:hover {
  color: #000;
}

.menu-text.ui-state-active {
  color: #000;
}

.ui-tab {
  text-align: center;
}

.tab-container02 {
  margin-top: 100px;
}

.ui-tabs-anchor {
  margin: 15px !important;
  outline: none !important;
}

.ui-widget-header {
  list-style-type: none !important;
  margin: 0 !important;
  margin-block-start: 0 !important;
  padding-inline-start: 0 !important;
  column-count: 1;
  column-fill: balance !important;
}

/* INVERTED MENU STYLING*/
.ar-menu-div.inverted {
  background-color: #cba239 !important;
  border-top: 2px solid #fff !important;
}

.ar-menu-div.inverted:hover {
  background-color: #fff !important;
  border-top: 2px solid #cba239 !important;
}

.ar-menu-btn.invert {
  color: #fff !important;
  padding: 0px 36px 0px 36px;
}

.ar-menu-btn.invert:hover {
  color: #cba239 !important;
}

a.ar-menu-btn.invert.nextone:after {
  font-family: LeMondeLivrePro, Times, serif !important;
  content: '→';
  position: absolute;
  right: 0;
  padding-right: 5vw;
  transform: translateY(-3px);
  display: inline-block;
}

.network-accordion .panel-title a {
  font-size: 95px !important;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
  line-height: 100px;
  font-weight: 800 !important;
  color: #fff;
  letter-spacing: 0 !important;
}

.network-accordion>div>div>div>p>a>span:hover {
  color: #00338d;
}

.network-accordion .panel-title.active>a>span {
  color: #00338d;
}

.network-accordion>div>div>div>p>a {
  padding: 25px 0px 25px 0px !important;
}

.new-button-onblue {
  display: inline-block;
  padding: 20px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 100px;
  background-color: #00338d;
  color: #fff !important;
  font-size: 20px;
  line-height: 20px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 800;
}

#tabs>ul>li>a {
  color: white !important;
}

#tabs>ul>.ui-state-active>a {
  color: #00338d !important;
  background-color: #fff !important;
}

#tabs>ul>li>a:hover {
  color: #00338d !important;
}

.lightblue-btn {
  display: inline-block;
  padding: 20px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 100px;
  color: #fff !important;
  font-size: 20px;
  line-height: 20px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 800;
  background-color: #1475cc;
}

.lightblue-btn:hover {
  background-color: #fff !important;
  color: #1475cc !important;
}

p.fontsize-142651 {
  display: inline;
  letter-spacing: 0px;
}

.brownbtn {
  display: inline-block;
  padding: 20px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 100px;
  background-color: #b8631f;
  color: #fff !important;
  font-size: 20px;
  line-height: 20px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 800;
}

.brownbtn:hover {
  background-color: #fff;
  color: #b8631f !important;
}

.brownbtn.onwhite {
  color: #b8631f !important;
  background-color: #fff;
  border-color: #b8631f;
}

.brownbtn.onwhite:hover {
  color: #fff !important;
  background-color: #b8631f;
}

.new-button-onblue:hover {
  background-color: #fff;
  color: #00338d !important;
}

.accordion-title {
  display: block;
  font-size: 95px !important;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
  line-height: 90px;
  font-weight: 800 !important;
  color: #fff !important;
  letter-spacing: 0 !important;
  outline: none !important;
  cursor: pointer !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  border-bottom: 2px solid rgba(0, 51, 141, 0) !important;
  padding-bottom: 20px;
  padding-top: 20px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  transition: color 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86), border-color 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
}

.accordion-title:hover {
  color: #00338d !important;
}

.accordion-title.ui-state-active {
  outline: none;
  border-bottom: 2px solid rgba(0, 51, 141, 1) !important;
  color: #00338d !important;
}

.accordion-title.supporters {
  font-size: 20px !important;
  line-height: 20px !important;
  color: #cba239 !important;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0) !important;
}

.accordion-title.supporters:hover {
  color: #fff !important;
}

.accordion-title.supporters.ui-state-active {
  color: #fff !important;
  border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
}

.accordion-content {
  display: flex;
}

.grey-background {
  background-color: #d0d0d0 !important;
}

.bigtext>span {
  display: inline !important;
  font-size: 300px !important;
}

.accordion-content>div {
  color: #00338d !important;
  font-size: 20px !important;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
  line-height: 30px;
}

#accordion3 .accordion-content>div {
  color: #fff !important;
}

.accordion-column {
  display: inline;
  padding-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
}

.sida-logo {
  width: 400px;
}

.percentagech4 {
  max-width: 400px;
  margin: auto;
}

.percentage50 {
  max-width: 400px;
  margin: auto;
}

.nav-tabs li>a>span {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
  font-size: 20px !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.nav-tabs li>a:hover {
  background-color: #cba239 !important;
}

.nav-tabs li.active>a>span {
  color: #fff !important;
}

.nav-tabs li.active>a {
  border-bottom: 0px !important;
  border: 0px !important;
  background-color: #cba239 !important;
}

.tabs-left>li>a {
  padding: 0px 0px 0px 0px !important;
}

.tabs-left>li.active>a {
  padding: 0px 0px 0px 0px !important;
}

.tab-content.vertical {
  border-left-width: 0px !important;
  border-left-style: none !important;
}

.vertical-tab-menu .nav-tabs {
  border-right-style: none !important;
}


/*MOBILE*/
@media only screen and (max-width: 569px) {
  .header-text p {
    font-size: 50px;
    line-height: 50px;
  }

  .row-parent {
    padding: 60px 20px 60px 20px !important;
  }

  .ui-accordion-content-active {
    display: block !important;
  }

  .full-width.row-parent {
    padding: 0px 0px 0px 0px !important;
  }

  .icon-media {
    width: auto !important;
  }

  .sub-header-text p {
    font-size: 18px;
    line-height: 25px;
  }

  .infographic-text p {
    font-size: 21px;
    line-height: 26px;
  }

  .infographic-text.white p {
    text-align: center !important;
  }

  .empty-space.empty-triple {
    display: none;
  }

  .empty-space.empty-double {
    display: none;
  }

  .fontsize-190599 {
    font-size: 50px !important;
  }

  .main-container .row-inner>div:not([class*=col-md]) {
    padding: 15px 0px 0px 0px;
  }

  .fontsize-208175 {
    font-size: 21px;
  }

  .fontheight-133622 {
    line-height: 31px;
  }

  .financial-headers>h2 {
    font-size: 26px !important;
    line-height: 36px !important;
  }

  .fontheight-179074 {
    line-height: 35px;
  }

  .brownbtn {
    padding: 16px 30px;
    font-size: 16px;
    line-height: 20px;
  }

  .new-button-onblue {
    padding: 16px 30px;
    font-size: 16px;
    line-height: 20px;
  }

  .lightblue-btn {
    padding: 16px 30px;
    font-size: 16px;
    line-height: 20px;
  }

  .bigtext>span {
    font-size: 150px !important;
  }

  .intro-letter-text p {
    font-size: 18px;
    line-height: 26px;
  }

  .pull-quote-text p {
    font-size: 18px;
    line-height: 25px;
    margin-top: -20px !important;
    margin-bottom: -13px !important;
  }

  .ar-menu-btn {
    font-size: 18px !important;
    line-height: 18px !important;
    padding: 15px 15px 15px 15px !important;
  }

  a.ar-menu-btn.invert.nextone:after {
    display: none !important;
  }

  .menu-text {
    font-size: 18px !important;
    line-height: 60px !important;
  }

  .with-parallax>.row-background {
    position: relative !important;
    height: 300px !important;
  }

  .with-parallax>.row-parent {
    padding: 0px !important;
  }

  .single-block-padding {
    padding: 0px !important;
  }

  .accordion-title {
    font-size: 50px !important;
    line-height: 50px !important;
  }

  /*.accordion-content .ui-accordion-content-active {
    display: inline-block !important;
  }*/
  .accordion-column {
    display: block !important;
    padding-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .title-text p {
    font-size: 35px !important;
    line-height: 40px !important;
  }

  .accordion-content>div {
    font-size: 18px !important;
    line-height: 25px !important;
  }

  .accordion-title:hover {
    color: #fff !important;
  }

  .illustration-icon {
    max-width: 150px !important;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .accordion-title.ui-state-active {
    color: #00338d !important;
  }

  .illustration-img {
    width: 100%;
    margin: auto;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .empty-space.empty-quad {
    padding-top: 70px !important;
  }

  .paragraph-text p {
    font-size: 18px !important;
    line-height: 25px;
  }

  .paragraph-text.white.left p {
    text-align: center !important;
  }

  .fontsize-909737 {
    font-size: 90px !important;
    line-height: 90px;
    padding-top: 36px !important;
    display: block !important;
  }

  .fontsize-142651 {
    font-size: 120px !important;
    line-height: 120px;
    padding-top: 36px !important;
    display: block !important;
  }

  .percentage-img {
    max-width: 300px;
    margin: auto;
    padding-top: 50px;
  }

  .ui-tabs-anchor {
    margin: 5px !important;
  }

  .small-icon-svg {
    width: 33%;
    margin: auto;
  }

  .small-icon-svg.phone {
    width: 40% !important;
  }

  .extraspace-for-btn {
    margin-top: 0px !important;
    margin-bottom: 15px !important;
  }

  .illustration-img.less-space {
    padding-bottom: 0px !important;
  }

  .fontsize-176820 {
    font-size: 44px !important;
    line-height: 48px !important;
  }

  .fontsize-228548 {
    font-size: 16px !important;
  }

  .percentage50 {
    max-width: 300px;
    padding-top: 30px !important;
  }

  .infographic-text.extra-space p {
    padding-bottom: 50px;
  }

  .quadx-space {
    display: none;
  }

  .percentagech4 {
    margin-bottom: -50px;
  }

  .img-ch4 {
    padding-top: 34px !important;
    margin-bottom: -30px;
  }

  .extraspace-bar {
    margin-bottom: 50px;
  }

  .uselessspace {
    display: none;
  }

  .tab-container02 {
    margin-top: 50px;
  }

  .logo-funders {
    margin-bottom: 30px;
    width: 400px;
  }

  .sida-logo {
    width: 320px;
  }

  .infographic-text.white.bold.putitleft p {
    text-align: left !important;
    margin-top: 60px !important;
  }

  .morespace {
    margin-top: 120px !important;
  }

  .lemonde30 {
    font-size: 26px !important;
    line-height: 36px !important;
  }

  .row-spacing {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .subtextquote {
    margin-top: 15px !important;
  }
  
  .wwb-img {
    padding-top: 30px !important;
}
  
  .bluearrow-down {
        bottom: -55px !important;
  }
}
